*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider{
    margin: 50px 30%;
    width: 700px;
    height: 600px;
    position: absolute;


}

.item{
    position: relative;
    z-index: 0;
   
}

.size_img{
    
    
    width: 700px;
    height: 600px;
}

.active{
    display: block;
}

.hidden{
    display:none;
}

.arrow{
    position:relative;
    top: 90px;
    left: 350px;
    z-index: 50;
    transform: translate(-17.5px);
    cursor: pointer;
    

}


.reverse_arrow{
    position:relative;
    top: 580px;
    left: 350px;
    z-index: 50;
    transform: translate(-17.5px);
    cursor: pointer;

}

.fa-solid{
    color: white;
    opacity: 0.5;
    font-size: 35px;
}

i:hover {
    opacity: 1;
}
